:root {
  --primary-color: #288f4e;
  --secondary-corlor: #e5e2e5;
}

.bg--primary {
  background-color: var(--primary-color);
}

.bg--secondary {
  background-color: var(--secondary-corlor);
}

.text--primary {
  color: var(--primary-color);
}

.text--secondary {
  color: var(--secondary-corlor);
}
